<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mandala</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>
</head>
<body>
    <header class="header" id="home" style="background-image:  url('static/images/hotel_landing.jpg');">
            <div class="logo">
                <img class="logo-img" <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="hotel logo">
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="{{ url_for('signup') }}">Register/Login</li>
                </ul>
            </div>
            <div class="header-text">
                <h1>Book your retreat with us</h1>
                <p>Discover your true luxury taste!</p>
                <button class="btn-1">Book Now</button>
            </div>
    </header>

    <main>
        <div class="island" id="services">
            <h3 style="margin-bottom: 1%;">Our Services</h3>
            <p>Discover unparalleled luxury at Mandala Hotel. Our exquisite multi-cuisine fine dining restaurant, nestled within the elegant confines of Mandala Hotel, offers an unforgettable culinary experience. From gourmet delights to personalized service, we redefine hospitality.</p>
        </div>
        <section class="about">
            <h3 class="section-title" id="about">About Us</h3>
            <div class="about-container">
                <article>
                <img src="{{ url_for('static', filename='images/bed-accommodation.jpg') }}" alt="Article Image" class="article-image">
                    <p><strong>Accommodation</strong><br>Booking a room at Mandala Hotel is simple: visit our website, navigate to the “Book Now” option, choose your desired check-in and check-out dates, and then select your preferred room. Welcome to Mandala Hotel!</p>
                </article>
                <article>
                    <img src="{{ url_for('static', filename='images/bar1.jpg') }}" alt="Article Image" class="article-image">
                    <p><strong>The Bar</strong><br>At Mandala Hotel, our elegant establishment boasts a sophisticated bar where guests can unwind and enjoy handcrafted cocktails, fine wines, and delightful conversations. Cheers to unforgettable moments!</p>
                </article>
                <article>
                <img src="{{ url_for('static', filename='images/table-dining.jpg') }}" alt="Article Image" class="article-image">
                    <p><strong>Dining</strong><br>Visit our website and explore the dining section. Choose your date and time for your dining experience. Reserve your table by clicking on the reservation option and providing the necessary details. Our team will ensure a delightful meal awaits you at Mandala Hotel. Bon appétit!</p>
                </article>
            </div>
        </section>

        <div class="grid-container">
            <div class="services-articles">
                <article style="background-image:  url('static/images/dining.jpg');">
                    <p class="services-content">
                        Dining
                    </p>
                </article>
                <article style="background-image: url('static/images/accommodation-dk.jpg');">
                    <p class="services-content">
                        Accommodation
                    </p>
                </article>
                <article style="background-image: url('static/images/wellbeing-dk.jpg');">
                    <p class="services-content">
                        Fitness
                    </p>
                </article>
                <article style="background-image: url('static/images/bar.jpg');">
                    <p class="services-content">
                        The Bar
                    </p>
                </article>
            </div>
        </div>
        <div class="call-to-action">
            <button class="cta-btn" onclick="location.href='book-table.html'">Book a Table</button>
        </div>
    </main>
<footer>
        <div class="footer-links">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#">Rooms & Suites</a></li>
                <li><a href="#">Dining</a></li>
                <li><a href="#">Spa & Wellness</a></li>
                <li><a href="#">Events & Meetings</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <span>&copy; 2024 Mandala Hotel</span>
    </footer>
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
</html>
